{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>
    <form action="{{ path('post_apply_transition', {id: post.id}) }}" method="post">
        <div class="form-group">
        <div class="btn-group" role="group">
            {% for transition in workflow_transitions(post) %}

                <button type="submit" name="transition" value="{{ transition.name }}"
                        {% if workflow_can(post, transition.name) -%}
                            class="btn btn-primary"
                        {%- else -%}
                            class="btn btn-danger" disabled="disabled"
                        {%- endif -%}
                >
                    {{ transition.name }}
                </button>

            {% endfor %}
        </div>
        </div>
    </form>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.title) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.content) }}
    {{ form_row(edit_form.image) }}
    {{ form_row(edit_form.categories) }}
    <br>
    <input type="hidden" name="latestImage" value="{{ post.image.filename }}">
    <input type="submit" value="Edit" class="btn btn-success btn-block"/>
    {{ form_end(edit_form) }}

    <br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger btn-block">
    {{ form_end(delete_form) }}

{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js"></script>

    <script>
        $(document).ready(function() {
            $('#sazhin_blogbundle_post_categories').select2();
            ClassicEditor
                .create( document.querySelector( '#sazhin_blogbundle_post_content' ) )
            ClassicEditor
                .create( document.querySelector( '#sazhin_blogbundle_post_description' ) )
        });
    </script>
{% endblock %}

{% block title %}Редактирование записи {{ post.title }}{% endblock %}