{% extends '@SazhinBlog/Default/index.html.twig' %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ asset('uploads/images/' ~ post.image.filename) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        {#<h2 class="subheading">Problems look mighty small from 150 miles up</h2>#}
                        <span class="meta">
                Категория: {% for category in  post.categories %}
                                {{ category.name }}
                            {% endfor %}
                            | {{ post.createdAt|date('Y-m-d H:i:s') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ post.content }}
                    {% if is_granted("ROLE_ADMIN") %}
                        <br>
                        <a href="{{ path('admin_edit', { 'id': post.id }) }}">Редактровать</a>
                    {% endif %}
                    <hr>
                    {% include ':post/comments:comment-form.html.twig' %}
                    {% include ':post/comments:comment.html.twig' %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var scrollTo = $('#comment-form').offset().top;
            $('.btn-replay').click(function () {
                var post = $(this).attr('data-id');
                $( "#post-id" ).remove();
                var cancelBtn = '<div class="btn btn-danger btn-block btn-sm" id="cancelBtn">Отмена</div>'
                var input = '<input type="hidden" name="parent" id="post-id" value="' + post + '">';
                $(document).scrollTop(scrollTo);
                $('#cancelBtn').remove();
                $("#sazhin_blogbundle_comment").append(input).append(cancelBtn);
                $('#forjq').click().text('Ваш ответ:');
            });

            $(document).on("click", "#cancelBtn", function() {
                var input = $('#post-id');
                console.log(input);
                $('#cancelBtn').remove();
                $('#post-id').remove();
                $('#forjq').text('Комментарий:');
            });
        });
    </script>
{% endblock %}